<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://teacher-services.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/1e6b2ddd-befc-4833-ac69-38c31742b07c/resourceGroups/teacher/providers/Microsoft.Web/sites/teacher-services</ResourceId>
    <UserName>$teacher-services</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://teacher-services.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>